<div class="text-center my-4">
	<h1>Profil de <%= @user.email %></h1>
</div>

<div>
	<div class="form-group">
		<label>Nom: </label>
	</div>
	<div class="form-group">
		<label>Prénom: </label>
	</div>
	<div class="form-group">
		<label>Email: </label>
	</div>
	<div class="form-group">
		<label>Description: </label>
	</div>
</div>